@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div style="height: 100vh; text-align: center;">
    <div class="ps-va-separator"></div>
    <div class="ps-all-centered-div">
        <span class="ps-all-centered ps-text-title" style="text-align: center; vertical-align: middle;">MĚNÍME KADEŘNICKÉ ŘEMESLO V UMĚNÍ</span>
    </div>
    <div class="ps-va-separator"></div>
</div>