@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <!--
    <div class="row" style="height: 300px;"></div>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3"></div>
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8"><img src="~/img/Individualita.png" style="width: 100%;" /></div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
    </div>
    <div class="row"></div>
    -->

        <div style="height: 150px;"></div>
        <div><span>MĚNÍME KADEŘNICKÉ ŘEMESLO V UMĚNÍ</span></div>
        <div style="height: 50px;"></div>
        <div><span>Jsme tým vlasových stylistů s nadstandardními zkušenostmi a profesionálním přístupem k práci.</span></div>
        <div><span>Přijďte k nám a nadechněte se příjemné atmosféry designového prostoru,</span></div>
        <div><span>užijte si individuální přístup a vysokou kvalitu samotné služby.</span></div>

    </div>