
@{
    Layout = "~/Views/Shared/_LayoutMenuPage.cshtml";
    ViewData["Title"] = "Salon";
}

<div class="page-head-div">
    <a class="nav-link text-dark" title="Zpět na hlavní stránku" asp-area="" asp-controller="Test" asp-action="Index">
        <div><span class="page-head">salon</span></div>
    </a>
</div>
<div class="text-center">

    <div style="height: 50px;"></div>
    <div><span style="font-size: 24px;">MĚNÍME KADEŘNICKÉ ŘEMESLO V UMĚNÍ</span></div>
    <div style="height: 50px;"></div>
    <div><span style="font-size: 20px;">Jsme tým vlasových stylistů s nadstandardními zkušenostmi a profesionálním přístupem k práci.</span></div>
    <div><span style="font-size: 20px;">Přijďte k nám a nadechněte se příjemné atmosféry designového prostoru,</span></div>
    <div><span style="font-size: 20px;">užijte si individuální přístup a vysokou kvalitu samotné služby.</span></div>
    <div style="height: 180px;"></div>
    <div class="row" style="display: inline-flex; height: 330px; margin-bottom: -50px;">
        <div class="col-3"><img src="~/img/Balmain.png" style="width: 100%;" /></div>
        <div class="col-3"><img src="~/img/Fatboy.png" style="width: 100%;" /></div>
        <div class="col-3"><img src="~/img/Redken.png" style="width: 100%;" /></div>
        <div class="col-3"><img src="~/img/Agave.png" style="width: 100%;" /></div>
    </div>

</div>
