
@{
    Layout = "~/Views/Shared/_LayoutMenuPage.cshtml";
    ViewData["Title"] = "Services";
}

    <div class="text-center page-content-template">

        <div style="height: 30px;"></div>
        <div>
            <table class="page-content-table">
                <tr>
                    <th width="60%"></th>
                    <th width="20%"></th>
                    <th width="20%"></th>
                </tr>
                <tr class="price-section-row">
                    <td><span class="price-list-title">střihy a foukaná</span></td>
                    <td><span class="price-list-title">Jiří</span></td>
                    <td><span class="price-list-title">Sandra</span></td>
                </tr>
                <tr class="price-section-subrow"></tr>
                <tr class="price-row">
                    <td><span class="price-list-title">pánský střih</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">800</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">dámský střih</span></td>
                    <td><span class="price-list-value">1500</span></td>
                    <td><span class="price-list-value">1200</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">foukaná</span></td>
                    <td><span class="price-list-value">750</span></td>
                    <td><span class="price-list-value">750</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">výčes</span></td>
                    <td><span class="price-list-value">-</span></td>
                    <td><span class="price-list-value">550</span></td>
                </tr>
                <tr class="price-section-row">
                    <td><span class="price-list-title">barvení</span></td>
                    <td><span class="price-list-title"></span></td>
                    <td><span class="price-list-title"></span></td>
                </tr>
                <tr class="price-section-subrow"></tr>
                <tr class="price-row">
                    <td><span class="price-list-title">barvení</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">barvení</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">barvení</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">barvení</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">barvení</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-section-row">
                    <td><span class="price-list-title">speciální ošetření</span></td>
                    <td><span class="price-list-title"></span></td>
                    <td><span class="price-list-title"></span></td>
                </tr>
                <tr class="price-section-subrow"></tr>
                <tr class="price-row">
                    <td><span class="price-list-title">speciální ošetření</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">speciální ošetření</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">speciální ošetření</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">speciální ošetření</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
                <tr class="price-row">
                    <td><span class="price-list-title">speciální ošetření</span></td>
                    <td><span class="price-list-value">1000</span></td>
                    <td><span class="price-list-value">1000</span></td>
                </tr>
            </table>
            <div class="summary-row">
                <span>uvedené ceny jsou v českých korunách</span>
            </div>
            <div class="price-brands row">
                <div class="brand-titles col-sm-12 col-6">
                    <span>pracujeme se značkami</span>
                </div>
                <div class="brand-icons col-6">
                    <div><img src="~/img/Balmain.png" style="width: 50%;" /></div>
                    <div><img src="~/img/Fatboy.png" style="width: 90%;" /></div>
                    <div><img src="~/img/Redken.png" style="width: 50%;" /></div>
                    <div><img src="~/img/Agave.png" style="width: 50%;" /></div>
                </div>
            </div>
        </div>
        <div style="height: 30px;"></div>

    </div>
