
@{
    Layout = "~/Views/Shared/_LayoutMenuPage.cshtml";
    ViewData["Title"] = "SpecialServices";
}

<div class="page-head-div">
    <a class="nav-link text-dark" title="Zpět na hlavní stránku" asp-area="" asp-controller="Test" asp-action="Index">
        <div><span class="page-head">speciální služby</span></div>
    </a>
</div>
<div class="text-left" style="margin: -60px 0 0 30px;">
    <div class="text-center">

        <div style="height: 30px;"></div>
        <div><span class="price-list-head">AGÁVE OŠETŘENÍ</span></div>
        <div style="height: 20px;"></div>
        <div><span class="price-list-title">vyhlazující ošetření</span></div>
        <div style="height: 40px;"></div>

        <div class="text-left" style="margin-left: 70px;">
            <div>
                <ul>
                    <li><span class="price-list-title">Eliminuje až 100% krepu a objemu</span></li>
                    <li><span class="price-list-title">Snižuje vlnitost vlasů až o 80%</span></li>
                    <li><span class="price-list-title">Působí až 12 týdnů, kdy ošetřuje a uhlazuje</span></li>
                    <li><span class="price-list-title">Ubírá objem</span></li>
                </ul>
            </div>
            <div style="height: 20px;"></div>
            <div><span class="price-list-title">Komplex Carbo-C Amino™ (vlastní patentovaný komplex ) - kúra nemá obsah čpavku, ani zásaditého amoniku a vlasy nenarušuje.</span></div>
            <div><span class="price-list-title">V souladu s americkými i evropskými bezpečnostními normami.</span></div>
        </div>

        <div style="height: 40px;"></div>
        <div><span class="price-list-head">HYDRATACE - LESK - HEDVÁBNOST</span></div>
        <div style="height: 20px;"></div>
        <div><span class="price-list-title">cena: 4000 - 5000 Kč - dle délky vlasů, 1700 Kč - ofina</span></div>
        <div style="height: 40px;"></div>

        <div style="height: 30px;"></div>
        <div><span class="price-list-head">HLOUBKOVÉ OŠETŘENÍ</span></div>
        <div style="height: 20px;"></div>
        <div><span class="price-list-title">rovnováha</span></div>
        <div style="height: 40px;"></div>

        <div class="text-left" style="margin-left: 70px;">
            <div>
                <ul>
                    <li><span class="price-list-title">Hydratace</span></li>
                    <li><span class="price-list-title">Síla</span></li>
                    <li><span class="price-list-title">Regenerace a obnova</span></li>
                    <li><span class="price-list-title">Objem</span></li>
                </ul>
            </div>
            <div style="height: 20px;"></div>
            <div><span class="price-list-title">Hloubkové ošetření namíchané na míru pro vaše vlasy.</span></div>
            <div><span class="price-list-title">Doplňte svou službu o chemistry hloubkové ošetření, vhodné po barvení, melírování, jako pravidelná péče, regenerace a prevence, také u dorůstání vlasů, pro jejich podporu kvality.</span></div>
        </div>

        <div style="height: 40px;"></div>
        <div><span class="price-list-head">CHEMISTRY SYSTÉM</span></div>
        <div style="height: 20px;"></div>
        <div><span class="price-list-title">cena: 500 Kč</span></div>
        <div style="height: 40px;"></div>

    </div>
</div>
