
@{
    Layout = "~/Views/Shared/_LayoutMenuPage.cshtml";
    ViewData["Title"] = "Services";
}

<div class="text-center page-content-template">

    <div style="height: 30px;"></div>
    <div class="row">

        <div class="col-sm-6 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-4"><img class="ps-banner-img" src="~/img/Jirka.jpg" style="width: 200px;" /></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12"><span>JIŘÍ PRÁGR</span></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12"><span>haircut specialist</span></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12"><span>+420 777 777 777</span></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-2"><img class="ps-banner-img" src="~/img/Instagram_small.png" /></div>
                        <div class="col-10"><span>&commat; jirkapragr</span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12"></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-4"><img class="ps-banner-img" src="~/img/Sandra.jpg" style="width: 200px;" /></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12"><span>SANDRA NISTEROVÁ</span></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12"><span>color specialist</span></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12"><span>+420 777 777 777</span></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-2"><img class="ps-banner-img" src="~/img/Instagram_small.png" /></div>
                        <div class="col-10"><span>&commat; sandra</span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12"></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
        </div>

    </div>
    <div style="height: 30px;"></div>

</div>
