
@{
    Layout = "~/Views/Shared/_LayoutMenuPage.cshtml";
    ViewData["Title"] = "Team";
}

<div class="page-head-div">
    <a class="nav-link text-dark" title="Zpět na hlavní stránku" asp-area="" asp-controller="Test" asp-action="Index">
        <div><span class="page-head">tým</span></div>
    </a>
</div>
<div class="text-left" style="margin: -60px 0 0 30px;">

    <div style="margin-left: 130px;"><span class="salon-owner-title">JIŘÍ PRÁGR</span></div>
    <div style="height: 20px;"></div>
    <div style="margin-left: 180px;"><span class="salon-owner-description">spolumajitel salonu - haircut specialist</span></div>
    <div style="height: 50px;"></div>
    <div style="margin-left: 130px;"><span class="salon-owner-motto">“Žádný styl mi není cizí, pokud je vše podtržené kvalitou a precizností, na které si zakládám.”</span></div>
    <div style="height: 50px;"></div>
    <div style="margin-left: 30px;">
        <div>
            <span class="salon-owner-story">
                Jiří Prágr vystudovaný v kadeřnické akademii Toni&Guy v Londýně.
            </span>
        </div>
        <div>
            <span class="salon-owner-story">
                Jako vlasový stylista pracoval v předních Pražských salonech, podílel se na otevření druhého
                Toni&Guy Barber Shopu v Evropě. Po celou dobu své kadeřnické praxe prochází školením a to
                hlavně v zahraničí. Každodenní práce na saloně doplňuje občasným focením vlasových a
                fashion kolekcí. Má bohaté zkušenosti s tou nejnáročnější klientelou a své cenné dovednosti
                nevyužívá pouze na svém saloně, ale také je předává kadeřnické veřejnosti v rámci osobních
                stáží. Jako výjimečnost vnímá Jirka svou specializaci na stříhání u kterého se cítí nejlépe a
                potvrzuje to jeho nominace v nejprestižnější světové, kadeřnické soutěži Schwarzkopf
                Hairdresser Awards Czech&Slovakia - nominace v kategorii Pánský komerční účes 2019.
            </span>
        </div>
    </div>

</div>

<div class="page-head-div">
    <a class="nav-link text-dark" title="Zpět na hlavní stránku" asp-area="" asp-controller="Test" asp-action="Index">
        <div><span class="page-head">tým</span></div>
    </a>
</div>
<div class="text-left" style="margin: -60px 0 0 30px;">

    <div style="margin-left: 130px;"><span class="salon-owner-title">SANDRA NISTEROVÁ</span></div>
    <div style="height: 20px;"></div>
    <div style="margin-left: 180px;"><span class="salon-owner-description">spolumajitelka salonu</span></div>
    <div style="height: 50px;"></div>
    <div style="margin-left: 130px;"><span class="salon-owner-motto">“Na své práci miluji možnost kreativity, ale nejraději tvořím kvalitu v podobě přirozených krás.”</span></div>
    <div style="height: 50px;"></div>
    <div style="margin-left: 30px;">
        <div>
            <span class="salon-owner-story">
                Sandra se v kadeřnickém světě pohybuje již sedmým rokem a měla možnost učení se od
                těch nejlepších z oboru vlasových stylistů u nás. Chvíle na saloně, obohacuje časem
                tráveným za kamerou, v backstage u přehlídek a vlasových show, či focením.
                Nepodceňuje však ani vzdělávání, má za sebou nespočet stáží a to i od stylistů z
                Londýnské akademie Taylor Taylor, Redken New York ambasador apod. Chuť do
                vzdělávání nabízí také kadeřníkům, kterým předává své zkušenosti. Posledním pracovním
                úspěchem vnímá vytvoření své vlasové kolekce se známým českým fotografem, kde
                představuje přicházející dámskou komerci vlasových trendů pro následující rok 2020,
                tak jak vnímá ženy a jejich korunu krásy právě ona.
            </span>
        </div>
        <div>
            <span class="salon-owner-story">
                Sandra si u služeb, které klientům nabízí zakládá na servisu, jímž svou klientelu
                obklopuje, což dokazuje i věrné docházení její V.I.P klientely.
            </span>
        </div>
    </div>

</div>
