
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Index";
}

<div class="tabstrip-states main-table-column-headers column-headers" id="clscroll-column-headers">
    <ul id="state-elements" class="tabstrip-states-ul">
        <li class="state-li">
            <div class="state-label-div">
                <label class="state-name-label">Správa uživatelů</label>
            </div>
        </li>
        <li class="state-li">
            <div class="state-label-div">
                <label class="state-name-label">Správa zákazníků</label>
            </div>
        </li>
        <li class="state-li">
            <div class="state-label-div">
                <label class="state-name-label">Správa kalendáře</label>
            </div>
        </li>
        <li class="state-li">
            <div class="state-label-div">
                <label class="state-name-label">Nastavení aplikace</label>
            </div>
        </li>
    </ul>
</div>