
@{
    ViewData["Title"] = "Contacts";
}

    <div class="text-center" style="text-align: center; font-size: 28px; font-weight: 700;">
        <div class="row" style="height: 50px;"></div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <a class="nav-link text-dark" href="https://mapy.cz/zakladni?x=14.4429068&y=50.0477920&z=16&l=0&source=addr&id=12707634" target="_blank">
                    <img src="~/img/Mapa.png" style="width: 80%;" />
                </a>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="height: 50px;"></div>
        <div class="row" style="text-align: left;">
            <div class="col-3"></div>
            <div class="col-2"><span>Adresa: </span></div>
            <div class="col-6"><span>PRAGsalon</span></div>
            <div class="col-1"></div>
        </div>
        <div class="row" style="text-align: left;">
            <div class="col-3"></div>
            <div class="col-2"></div>
            <div class="col-6"><span>Hanušova 1537/1b</span></div>
            <div class="col-1"></div>
        </div>
        <div class="row" style="text-align: left;">
            <div class="col-3"></div>
            <div class="col-2"></div>
            <div class="col-6"><span>Praha 4, 140 00</span></div>
            <div class="col-1"></div>
        </div>
        <div class="row"></div>
    </div>

