@{
    Layout = "~/Views/Shared/_LayoutUnderConstruction.cshtml";
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="row" style="height: 100px;"></div>
        <div class="row" style="text-align: center;">
            <div class="col-12"></div>
            <div class="col-12"><span style="font-size: 20px;">LUXUSNÍ KADEŘNICKÝ SALON POD VEDENÍM OCENĚNÝCH VLASOVÝCH STYLISTŮ.</span></div>
            <div class="col-12"><span style="font-weight: 580; font-size: 42px;">JIŽ BRZY</span></div>
            <div class="col-12" style="height: 150px;"></div>
            <div class="col-12"><span style="font-size: 20px;">HANUSOVA 1537/1b, PRAHA 4, 14000</span></div>
            <div class="col-12"><span style="font-size: 20px;">info@pragsalon.cz</span></div>
            <div class="col-12"></div>
        </div>
        <div class="row"></div>
    </div>
