
@{
    ViewData["Title"] = "Team";
}

<div class="text-center" style="text-align: center; font-size: 28px; font-weight: 700;">
    <div class="row" style="height: 100px;"></div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><span>JIŘÍ PRÁGR</span></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><span>SANDRA NISTEROVÁ</span></div>
        <div class="col-1"></div>
    </div>
    <div class="row"></div>
</div>

