
body {
    height: 100%;
    font-weight: 600;
}

.title-row {
    margin: 10px 0;
}

.calendar-field {
    width: 100%;
    margin: 0 10px;
}

.calendar-field-common {
    width: 100%;
    margin: 0 10px;
}

.single-day {
    width: 100% !important;
    text-align: center;
    padding-top: 4px;
}

.month-change {
    width: 14.2857% !important;
    text-align: center;
}

.month-current {
    width: 71.428% !important;
    text-align: center;
}

.calendar-day {
    width: 14.2857% !important;
    text-align: center;
    background-color: lightgray;
}

.calendar-day-title {
    width: 14.2857% !important;
    text-align: center;
}

.calendar-day > span {
    width: 100%;
    height: 100%;
    color: black;
}

.inmonth {
    background-color: white;
}

.today {
    border: 1px solid red;
}

.selectedday {
    background-color: lightgreen;
}

.calendar-field-div {
    height: 100%;
    line-height: 100%;
    min-height: 100%;
}

.calendar-add-event {
}

.timing-row {
    width: 100%;
    height: 6.6666% !important;
    margin: 0;
    padding: 5px;
}

.timing-col {
    padding: 0;
}

.timing-title {
    font-size: 18px;
}

.field-row {
    width: 100%;
    height: 3.3333% !important;
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.bordered {
    border: 1px solid #eee;
}

.clickable {
    cursor: pointer;
}

.saturday {
    background-color: #ddd;
}

.sunday {
    background-color: #ccc;
}

.tiny-form-control {
    height: 30px;
}

.calendar-button-div {
    padding: 12px 12px 0 12px;
}

.calendar-button {
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: .4rem;
}